.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.article#article_detail(data-id=doc._id)
	#modify(data-owner=doc.owner)
		//#edit.modify 编辑
		#delete.modify 删除
	h2#d_title= doc.title
	.row
		p.meta.col-md-12.col-lg-10.col-lg-offset-1
			label#d_date= doc.date
			strong#d_source= "来源: " + doc.source
	.main-body!= doc.body